*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body{
    background: #3f343f;
    color: white;
    min-height: 100vh;
}
header{
    
    padding: 20px;
    text-align: center;
}
h1{
    margin-bottom: 20px;
}
.search-box{
    display: flex;
    justify-content: center;
    gap: 10px;
}
input{
    width: 300px;
    padding: 8px;
    border: none;
    outline: none;
}
button{
    cursor: pointer;
    padding: 9px 18px;
}
